@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap');

:root{
    --main-color: #08efc7;
    --white: #f7fffd;
    --dark: #024439;
    --light: #3af8d7;

}


body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

/*header styling*/
a, u{
    text-decoration: none !important;
}

nav li{
    list-style: none;
}

nav, a{
    color: var(--dark);
    font-size: 1.08em;
}

nav a:hover{
    color: var(--light);
    background-color: var(--dark);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: table;
    background-color: var(--main-color, #08efc7);
    font-family: 'Share Tech', sans-serif;
}

nav{
    height: 100%;
    float: right;
}

nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

nav a:last-child{
    padding-right: 0;
}

nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header-img{
    height: 100%;
    display: table;
    float: left;
}

.header-img, img{
    width: 60px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    
}

/* smaller screen*/
@media (max-width: 500px){
    .header-img{
        align-self: center;
    }
    header{
        display: flex;
        flex-direction: column;
    }
}

/*features styling*/

.features{ 
    padding-top: 8%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 3em;;
    font-size: 1.08em;
}

.features h2{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 4em;
    color: var(--dark);
}

.features ul{
    font-family: 'Share Tech', sans-serif;
    list-style: none;
}

.main-hr{
    width: 70%;
    size: 10px;
    color: #024439;
}

@media (max-width: 500px){
    .features{
        padding-top: 20%;
        justify-content: center;
    }
    .features h2{
        text-align: center;
        font-family: 'Share Tech Mono', monospace;
        font-size: 2em;
    }
}

/* Pricing styling */

.pricing{
    padding: 8%;
    display: flex;
    justify-content: space-around;
}

.pricing ul{
    list-style: circle;
}

.price-heading{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    color: var(--dark);
    font-weight: bold;
}

.beginner{
    border: 1px solid #024439;
    padding: 1em;
    border-radius: 30%;
    font-family: 'Share Tech', sans-serif;
    -webkit-box-shadow: 5px 5px 3px 1px #000000; 
    box-shadow: 5px 5px 3px 1px #024439;
}

.intermediate{
    border: 1px solid #024439;
    padding: 1em;
    border-radius: 30%;
    font-family: 'Share Tech', sans-serif;
    box-shadow: 5px 5px 3px 1px #024439;
}

.expert{
    border: 1px solid #024439;
    padding: 1em;
    border-radius: 30%;
    font-family: 'Share Tech', sans-serif;
    box-shadow: 5px 5px 3px 1px #024439;
}

.price-btn{
    text-align: center;
}

.price-tag{
    text-align: center;
    font-weight: bold;
}

button{
    padding: 2% 10%;
    text-align: center;
    background-color: var(--dark);
    color:#3af8d7;
    border-radius: 10px;
    border: 1px solid var(--main-color);
}

@media (max-width: 500px){
    .pricing{
        align-items: center;
        padding: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2%;
       
    }
}

/* Video */
.video{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
    color: var(--dark);
}

.vid-div{
    text-align: center;
    padding-bottom: 4%;
}

/* Sign up form*/
.sign-up{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
    color: var(--dark);
}

.signup-form{
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

#name, #email{
    border-radius: 30px;
    width: 40%;
    min-height: 20px;
    border: 1px solid var(--dark);
}

#submit{
    padding: 2% 10%;
    text-align: center;
    background-color: var(--main-color);
    color:var(--dark);
    border-radius: 10px;
    border: 1px solid var(--dark);
    margin: 2%;
}

/* footer */
footer{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color, #08efc7);
    font-family: 'Share Tech', sans-serif;
}

foot-par{
    height: 100%;
    display: table;
    vertical-align: middle;
}

#back{
    background-color: var(--white);
}
